.header{
  padding: 0 60px;

  .top{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main {
      position: relative;
      display: flex;
      align-items: center;
      &__logo {
        padding-bottom: 5px;
        margin-right: 30px;
        margin-bottom: 10px;
        border-radius: 4px;
      } 
      .logoimage {
        width: 140px;
        display: block;
      }
      .search-form {
        margin-left: auto;
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        .search-box { 
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          height: 35px;
          &__text {
            width: calc(100% - 26px);
            padding: 0 0 0 5px;  
          }
          &__submit {
            position: relative;
            display: inline-block;
            z-index: 0;
          }
        }
      }
    }

    .search-box__btn {
      background-color: #3CCACE;
      height: 36px;
      width: 36px;
      border: 0;
    }

    .searchicon {
      height: 20px; 
      width: 20px;
      position: absolute;
      top: 8px;
      right: 8px;
      pointer-events: none;
      z-index: 1;
    }

    .info{
      font-size: 14px;
      display: flex;
      padding-bottom: 10px;

      &__left{
        position: relative;
        display: flex;

        &__category{
          padding-right: 30px;

          .info-category{
            text-decoration: none;
            color: black;
          }
        }

        &__brand{
          padding-right: 30px;

          .info-brand{
            text-decoration: none;
            color: black;
          }
        }
      }

      &__right{
        margin-left: auto;
        display: flex;

        &__login{
          padding-left: 30px;

          .user-login{
            text-decoration: none;
            color: black;
          }
        }

        &__new{
          padding-left: 30px;

          .user-new{
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}



