.top-visual
  .content
    %h2.content__subtitle
      %br
      人生を変えるフリマアプリ
    %p.content__text
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .content__btn
      = link_to '#' do
        = image_tag 'material/logo/app-store-logo.png', size: "180x53", class: "abtn"
      = link_to '#' do
        = image_tag 'material/logo/google-play-badge.png', size: "180x53", class: "gbtn"
.introdaction
  %h2.subtitle
    %br
    人生を変えるフリマアプリ
  %ul.lists
    %li.list
      .list__pict
      %h3.list__text
      %p.list__discription
    %li.list
      .list__pict
      %h3.list__text
      %p.list__discription
    %li.list
      .list__pict
      %h3.list__text
      %p.list__discription
.dl-content
.service-feature
.items-index