.product-header
  = link_to image_tag("icon_brand.png", alt: "", class: "product-header__logo"), "#"
  Fleamarket
.product-main
.product-footer
  .product-footer__center
    %nav
      %ul.menu
        %li
          = link_to "プライバシーポリシー","#"
        %li
          = link_to "Fleamarket利用規約","#"
        %li
          = link_to "特定商取引に関する表記","#"
  .product-footer__center__logo
    =link_to image_tag("icon_brand.png", class:"footer__center__logo--another"),"#"
    %p.inc
      ©︎Fleamarket,Inc.