.product-header
  = link_to image_tag("icon_brand.png", alt: "", class: "product-header__logo"), "#"
  Fleamarket
.product-main
.product-footer
  .product-footer__upper
    %ul.menu
      %li.menu__list
        = link_to "プライバシーポリシー","#"
      %li.menu__list
        = link_to "Fleamarket利用規約","#"
      %li.menu__list
        = link_to "特定商取引に関する表記","#"
  .product-footer__bottom

