*{
  box-sizing: border-box;
}

// すべてのaタグのリンクのデコレーション打ち消し
a {
  text-decoration: none;
}

.Product{
  width: 100vw;
  background-color: #EEEEEE;
}

// ヘッダー部分
.product-header{
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #EEEEEE;
  &__logo{
    height: 50px;
    width: 150px;
    margin-right: 10px;
  }
}

// フォーム部分
.product-main{
  width: 700px;
  height: calc(200vh - 278px);
  margin: 0 auto;
  background-color: white;
  display: block;
  &__contents{
    background-color:white;
    width: 100%;
    margin: 0 auto;
    &__imagesection{
      height: 370px;
      font-size: 14px;
      padding: 40px;
      border-bottom: 1px solid #EEEEEE;
      &__items{
        display: flex;
      }
      &__imagecount{
        margin-top: 16px;
        margin-bottom: 16px;
      }
      &__imagepost{
        text-align: center;
        align-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(245, 245, 245);
        cursor: pointer;
        display: flex;
        height: 200px;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        border-width: 1px;
        border-style: dashed;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        transition: all 0.5s ease-out 0s;
        position: relative;
      }
    }
    &__itemsection{
      font-size: 14px;
      padding: 40px;
      border-bottom: 1px solid #EEEEEE;
      &__items{
        display: flex;
      }
      &__input{
        margin-top: 25px;
        display: inline-block;
        position: relative;
        width: 100%;
      }
      &__second-items{
        display: flex;
        margin-top: 20px;
      }
      &__textarea{
        margin-top: 16px;
      }
      &__textareacount{
        text-align: right;
        font-family: Arial,sans-serif;
        margin-top: 16px;
      }
    }
    &__detailsection{
      font-size: 14px;
      padding: 40px;
      border-bottom: 1px solid #EEEEEE;
      &__items{
        display: flex;
      }
      &__input{
        margin-top: 25px;
        margin-bottom: 16px;
        display: inline-block;
        position: relative;
        width: 100%;
      }
      &__select{
        margin-top: 25px;
        margin-bottom: 16px;
        display: inline-block;
        position: relative;
        width: 100%;
      }
    }
  }
}

// 入力画面一覧まとめ
input{
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  height: 48px;
  margin: 0;
  outline: none;
  padding: 0 16px;
  width: inherit;
}

textarea{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #222;
  font-size: 16px;
  margin: 0;
  outline: none;
  padding: 13px 16px;
  resize: vertical;
  vertical-align: middle;
}

select{
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  height: 48px;
  margin: 0;
  outline: none;
  padding: 0 16px;
  width: inherit;
}


// 「必須」部分。Pタグ部分
.caution{
  display: inline-block;
  background-color:red;
  color: white;
  font-size: 11px;
  margin-left:8px;
  padding:2px 4px;
  border-radius: 2px;
  vertical-align: top;
  font-weight: bold;
}

.description{
  margin-right: 10px;
}

.title{
  margin-bottom: 20px;
  font-weight: bold;
}

// fontawesomeカメラ部分
.fa{
  position: absolute;
  top: 50px;
  font-size: 23px;
}

// footer部分
.product-footer{
  height: 150px;
  background-color: #EEEEEE;
  &__upper{
    height: 80px;
    text-align: center;
    
  }
  &__bottom{
    text-align: center;
    margin:0 auto;
    &__monochrome{
      height: 50px;
      width: 150px;
    }
  }

  // プライバシーポリシーとかの部分
  .menu{
    display: flex;
    justify-content: center;
    &__list{
      padding-top: 10px;
      margin-right: 25px;
      font-size: 12px;
    }
  }
}