.appbanner
  .appbanner__inner
    %h2.appbanner__inner-title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.appbanner__inner-text
      今すぐ無料ダウンロード！
    .appbanner__inner-icon
      = link_to '#' do
        = image_tag 'material/logo/app-store-logo.png', size: "180x53", class: "link-abtn"
      = link_to '#' do
        = image_tag 'material/logo/google-play-badge.png', size: "180x53", class: "link-gbtn"